#main_wrapper {
          position: relative;
          height: 100%;
          font-size: small;
}

#header {
          position: fixed;
          top: 0;
          width: 100%;
          height: 168px; /* breadcrumb-border + breadcrumb-height + navbar-height + header-height = 5+23+30+110=168 */
          background-color: white;
          z-index: 999;
}

#router-outlet {
          position: absolute;
          width: 100%;
          height: calc(100% - 168px);
          top: 168px;
          overflow-y:auto;          
}