:host /deep/ .ui-datatable-header {
          font-weight: bolder;
}

:host /deep/ .ui-column-title {
          font-weight: bolder;
}

:host /deep/ .ui-button.ui-state-default {
          font-size: x-large;
          border-color: transparent;
          background-color: transparent;
}

:host /deep/ .ui-cell-data {
          white-space: nowrap;
}

.table-button {
          font-size: 1em !important;
}

.delimeter {
          width: 100%;
          height: 50px;
}

.toleft {
          text-align: left;
}

toright {
          text-align: right;
}